process {
    withName: 'SNPSIFT_SPLIT' {
        ext.args         = { "-l 1000" }
        ext.prefix       = { }
        publishDir       = [
            //specify to avoid publishing, overwritten otherwise
            path: { "${params.out_dir}" },
            mode: "copy",
            pattern: "*"
        ]                     
    }
    withName: 'SNPSIFT_JOIN_.*' {
        ext.args         = { }
        ext.prefix       = { }
        publishDir       = [
            //specify to avoid publishing, overwritten otherwise
            path: { "${params.out_dir}" },
            mode: "copy",
            pattern: "*"
        ]                     
    }
}