includeConfig "${projectDir}/configs/nextflow.config"
includeConfig "${projectDir}/configs/process.config"
includeConfig "${projectDir}/configs/resources.config"

params {
    config_profile_name        = 'Test profile'
    vcf = "/hpc/pmc_vanboxtel/tools/ToolsVanBox_DEV/NF-SMuRF/demo/VCF/IAP_PMCAHH1-MSH2KO-MSH2-C25A04SC15C05.vcf.filtered_variants_dbnsfp_CosmicCodingMuts_gonl.snps_indels.r5.liftover.hg38.sorted.vcf.gz"
    //vcf = "/hpc/pmc_vanboxtel/tools/ToolsVanBox_DEV/NF-SMuRF/demo/VCF/IAP_PMCAHH1-MSH2KO-MSH2-C25A04SC15C05.vcf.filtered_variants_dbnsfp_CosmicCodingMuts_gonl.snps_indels.r5.liftover.hg38.sorted.vcf"
    bams = "/hpc/pmc_vanboxtel/tools/ToolsVanBox_DEV/NF-SMuRF/demo/BAMS"
    bulk_names = [
        "PMCAHH1-MSH2KO-MSH2-C25A04"
    ]
    out_dir = "./"
}