process {
    withName: 'SMURF' {
        ext.args         = { "" }
        ext.prefix       = { "" }
        ext.config       = { "/hpc/pmc_vanboxtel/tools/ToolsVanBox_DEV/NF-SMuRF/demo/config_15cov.ini" }
        publishDir       = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]                     
    }
}